.sidebar {
 padding-left: -10000px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

li:hover {
  color: #fff;
  background-color: #333;
  cursor: pointer;
}

li a {
  text-decoration: none;
  color: #333;
}

li a:hover {
  color: #fff;
}
